@import '../../themes/index.scss';


.headerBackground{
    height: 100vh;
    width: 100%;
    // background-color: $background-900;
}

.HeaderContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}



.firstSection{
    display: flex;
    flex-direction: column;
    // background-color: $background-900;
    background-image: $background-900;
    background-blend-mode: $blend-mode;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    align-items: center;
    padding: 3% 5% 10% 5% ;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);    
    z-index: 9000;
}

.presentationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 3%;

}

.firstSectionBackground{
    display: flex;
    background-color: $background-200;
    background-blend-mode: $blend-mode;
    border: 0px solid black, 0;
    height: 75%;

}


.lastSection{
    display: flex;
    height: auto;
    background-color: $background-200;
    background-blend-mode: $blend-mode;
    border-bottom-right-radius: 100px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex: 1;
   position: relative;
   box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.1);
z-index: 3;


  }



.carousel{
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .firstSection, .lastSection {
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }
}

@media (max-width: 480px) {
    .firstSection, .lastSection {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}