@import '../../themes';

.container {
    display: flex;
    flex-direction: column;
    width: 60%;

    @media (max-width: 1000px) {
        width: 80%;
    }

    @media (max-height: 720px) {
        width: 100%;
    }
}

@mixin box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.firstBox {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.imageBox {
    @include box;
    width: 380px;
    height: 242px;
    position: relative;

    @media (max-width: 1000px) {
        width: 100%;
        max-width: 300px;
        max-height: 190px;
    }

    @media (max-width: 400px) {
        max-width: 250px;  // ajuste conforme necessário
        max-height: 150px; // ajuste conforme necessário
    }

    @media (min-width: 2560px) {
        max-width: 570px;
        max-height: 370px;
    }
}

.secondBox {
    @include box;
    flex: 2;
}

.lastBox {
    @include box;
    flex: 1;
    margin-top: 5%;

    @media (max-width: 1000px) {
        margin-top: 2%;
    }
}

.fixedButton {
    position: absolute;
    top: 33%;
    right: 0;
    padding: 0.2rem 0.9rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 2rem;
    cursor: auto;
    pointer-events: none;
    transform: rotate(-15deg);
    display: flex;
    align-items: center;


    @media (min-width: 1440px) {
        padding: 0.25rem 0.9rem;
        right: 3%;
    }

    @media (min-width: 2560px) {
        right: -6%;
        padding: 0.5rem 2rem;
    }
}

.text { 
    font-size: 2rem;
    background: linear-gradient(96.0843deg, rgb(12, 12, 12) 0%, rgba(12, 12, 12, 0.55) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    font-weight: 800;
    width: 100%;
    text-align: center;
    


    @media (max-width: 1100px) {
        font-size: 1.5rem;
    }

    @media (min-width: 2560px) {
        font-size: 5rem;
        width: 80%;
    }
}

.buttonProjects {
    width: 14rem;
    height: 4rem;
    margin-bottom: 2rem;
    @media (max-width: 1000px) {
        width: 10rem;
        height: 3rem;
        margin-top: 4%;
        margin-bottom: 2rem;
    }

    @media (min-width: 2560px) {
        width: 18rem;
        height: 7rem;
        margin-top: 2%;
    }
}

.buttonProjects button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.imageAdeus {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;

    @media (max-width: 1000px) {
        width: 1.3rem;
        height: 1.3rem;
    }

    @media (min-width: 2560px) {
        width: 2.7rem;
        height: 2.7rem;
    }
}

.myButton {
    font-size: 0.9rem;

    @media (max-width: 1000px) {
        font-size: 0.7rem;
    }

    @media (min-width: 2560px) {
        font-size: 2rem;
    }
}

.buttonText {
    font-size: 1.3rem;

    @media (max-width: 1000px) {
        font-size: 1.2rem;
    }

    @media (min-width: 2560px) {
        font-size: 1rem;
    }
}

// @media (min-height: 1000px){
//     .imageBox{
//         width: 250px;
//         height: 160px;
//     }
//     .text{
//         width: 100%;
//         font-size: 2rem;
//     }
//     .fixedButton {
//         right: -6%; 
//     }

//     .buttonProjects{
//         width: 10rem;
//         height: 3.2rem;
//         margin-top: 2%;
//     }

//     .container{
//         width: 100%;
//     }


// }
