@import '../../themes/index.scss';
@import '@fontsource-variable/caveat';

.card {
    position: relative;
    border-radius: 0 10px 10px 0;
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .cover {
      top: 0;
      position: absolute;
         background-color: $background-900;
      width: 100%;
      height: 100%;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      transition: all 0.5s;
      transform-origin: 0;
      box-shadow: 0px 0px 0px rgb(247, 246, 241, 1), /* Sombra superior mais leve */
      3px 0px 2px rgba(0, 0, 0, 0.1), /* Sombra direita */
      5px 0px 1px rgba(94, 93, 93, 0.1), /* Sombra esquerda */
      0px 10px 0px  rgb(247, 246, 241, 1); /* Sombra inferior */
      display: flex;
      align-items: center;
      justify-content: center;

    }
  
    &:hover .cover {
      transition: all 0.5s;
      transform: rotateY(-80deg);
    }
  
  }


  .textTitle {
    color: rgb(60, 60, 60) !important;
    font-weight: 600 !important;
    font-size: 2rem !important;
    font-family: 'Caveat Variable', cursive;
    font-style: italic !important;
    font-optical-sizing: auto;

    @media (max-width: 400px) {
        font-size: 1.5rem;
    }
}
  

.imgContainer{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
}

.textDescc{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    color: #352d27;
    font-size: 1rem !important;
    padding: 5% 0;
    font-weight: 500 !important;
    
}

.insideCard{
    display: flex;
    flex-direction: row;
    
}

.insideFirst{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insideLast{
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
