$primary: rgb(0, 0, 0);
$text: rgba(0, 0, 0, 0.822);
// $background-900: radial-gradient(73% 147%, #fcf7ec 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
$background-900: radial-gradient(73% 147%, #fbf6ee 59%, #FFE7D0 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(255,200,0,0.50) 100%);

// $background-900: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
// $background-900: #fffbfe;;


// $background-200: white;
$background-200: white;
$blend-mode: screen;