@import '../../themes/index.scss';

@mixin genericButton{
    display: flex;
    border-radius: 2rem;
    border: none;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

.ButtonPrimary{
    @include genericButton;
    background-color: white;
    color: $text;
}

.ButtonSecondary{
    @include genericButton;
    background-color: black;
    color: white;
}
