@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Button:hover{
  cursor: pointer;
}

// .slick-list {margin: 0 -10px;}
// .slick-slide>div {
//   padding: 0 10px;
//   display: grid;
//   place-items: center;
//   width: 80%;
//   margin: auto;

//   // height: 100vh;

// }




