@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Button:hover{
  cursor: pointer;
}



#time-line-point span {
  background-color: rgba(152, 128, 94, 0.527) !important;
}
#time-line-point svg{
  color: black;
}
