@import '../../themes';

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

@mixin box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstBox {
    @include box;
    gap: 8%;

}

.lastBox{
    @include box;
    gap: 18px;
}

.text{
    color: $text;
    font-weight: 400;
}

.emailIcon{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.buttonCV{
    display: flex;
    width: 6rem;
    height: 2rem;
    
}

.copyIcon svg{
    width: 20px;
}

.textLink{
    color: $text;
    font-weight: 400;
}

.textLink:hover{
    cursor: pointer;
   text-decoration: underline;
}




@media (max-width: 630px) {
    // Esconder os botões quando a largura da tela for igual ou inferior a 600px

    .text{
        color: $text;
        font-size: 0.8rem;
    }
    .textLink{
        color: $text;
        font-size: 0.8rem;
    }

    .firstBox{
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 55%;
    }
    .lastBox{
        width: 100%;
        height: 45%;
        justify-content: start;
        align-items: start;
        display: flex;
       
    }

    .buttonCV{
        width: 3.5rem;
        height: 1.5rem;

    }
    .navbar{
        flex-direction: column;
        
    }

    .copyIcon svg{
        width: 17px;
    }

    .lastBox{
        gap: 8px;
    }
 
}

@media (min-width: 2560px){
    .text{
        font-size: 2rem;
    }
    .textLink{
        font-size: 2rem;
    }

    .textCV{
        font-size: 2rem;
    }

    .buttonCV{
        display: flex;
        width: 13rem;
        height: 4rem;
        
    }

    .copyIcon svg{
        width: 40px;
    }

    .lastBox{
        gap: 25px;
    }
}