@import '../../themes/index.scss';

.container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 0.7rem;
    background-color: #f5f5f5; /* Background cinza claro */
    border-radius: 15px; /* Borda arredondada */
    border: 1px solid #ccc; /* Borda cinza */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Adiciona uma transição suave no efeito de transformação */
}

.container:hover {
    transform: scale(1.05); /* Aumenta a escala em 5% ao passar o mouse */
}

@mixin box{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}


.firstBox{
    @include box;
    flex-direction: column;
    gap: 0.7rem;
    .ballsBox{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        @mixin ball {
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .redBall {
            @include ball;
            background-color: #FF5F57; /* Vermelho */
        }
        
        .yellowBall {
            @include ball;
            background-color: #FFD32A; /* Amarelo */
        }
        
        .greenBall {
            @include ball;
            background-color: #27AE60; /* Verde */
        }
    }

    .textPrimary{
        font-size: 1rem;
        color: $text;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.75rem;
    }

    .textSecondary{
        color: rgb(107, 114, 128, 1);
        min-height: 8rem;
    }

    
}



.secondBox{
    @include box;
    gap: 10px;
}

.lastBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13%;
    flex: 3;
}

.githubIcon{
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Adiciona uma transição suave no efeito de transformação */
}

.githubIcon:hover {
    transform: scale(1.5); /* Aumenta a escala em 5% ao passar o mouse */
}
