@import '../../themes/index.scss';

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: row;
    gap: 1%;
}

.card p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    flex: 1;
    color: $text;
}

.imageContainer{
    height: 80px;
    width: 80px;
}

@media (max-width: 670px){
    .card p {
        font-size: 0.9rem;
    }
    
}

@media (max-width: 490px){
    .card p {
        font-size: 0.7rem;
        font-weight: 800;
    }
    
}

@media (max-width: 412px){
    .card p {
        font-size: 1rem;
        font-weight: 800;
    }
    
}