@import '../../themes';

.container{
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

.tellMeSection{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;

    @media(max-width: 1024px){
        gap: 1.5rem;
    }
}

.circleContainer {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ccc, #f0f0f0);
    perspective: '500px';

    @media (max-width: 1000px) {
        width: 13vw; /* Ajuste para telas menores */
        height: 13vw; /* Ajuste para telas menores */
    }
    @media(max-width: 460px){
        width: 25vw; /* Ajuste para telas menores */
        height: 25vw; /* Ajuste para telas menores */
    }

    @media(max-width: 720px){
        width: 18vw; /* Ajuste para telas menores */
        height: 18vw; /* Ajuste para telas menores */
    }



    @media (min-width: 2560px) {
        width: 20vw; /* Ajuste para telas maiores */
        height: 20vw; /* Ajuste para telas maiores */
    }
}

  .text {
    font-size: 2.5rem;
    background: linear-gradient(96.0843deg, rgb(12, 12, 12) 0%, rgba(12, 12, 12, 0.55) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    font-weight: 800;
    width: 100%;
    text-align: center;
    
    @media (max-width: 1000px) {
        width: 80%;
        font-size: 2rem;
    }

    @media (min-width: 2560px) {
        font-size: 5rem;
        width: 80%;
    }
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    @media(max-width: 400px){
        width: 100%;
        flex-direction: column;
        justify-content: center;

    }

    @media(max-width: 720px){
        width: 100%;
    }

    @media(max-width: 1000px){
        width: 90%;
    }
}

@mixin button{
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
        width: 10rem;
        height: 3rem;
        margin-top: 4%;
    }

    @media (min-width: 2560px) {
        width: 18rem;
        height: 7rem;
        margin-top: 2%;
    }
}

.buttonLinkedin {
    @include button
}

.buttonEmail{
    @include button
}


.buttonLinkedin:hover{
    text-decoration: underline;

}


.buttonEmail:hover{
    color: white;
    .emailIcon{
        color: white;
    }
}

.emailIcon{
    margin-right: 6%;

}

.emailIcon{
    color: #352d27;
}

